<html>

<head>
    <title>Meu Dinheiro</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="topo">
        <div class="logo">
            <img class="img-logo" src="images/meu-dinheiro.png">
        </div>
        <nav class="manu">
            <ul>
                <li><a href="/">Home |</a></li>
                <li><a href="/calculadora">Calculadora |</a></li>
                <li><a href="/operacoes">Operações |</a></li>
                <li><a href="/nova-operacao">Nova Operação |</a></li>
                <li><a href="/contas-mensais">Contas Mensais |</a></li>
                <li><a href="/incluir-contas">Incluir Conta Mensal</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">