<% include header%>
    <h2>Nova operação</h2>
    <form name="form1" method="post">
        Descrição: <input type="text" name="descricao"></br>
        Valor Estimado: <input type="text" name="valor" placeholder="0,00"></br>
        Dia de Vencimento: <input type="text" name="diaVencimento" size="2" maxlength="5" placeholder="dd/mm"></br>

        <button type="submit">Calcular</button>
    </form>
    <% include footer %>